#root {
    flex-direction: column;
}

#appframe {
    height: 23px;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    background: var(--bg-color-24);
    justify-content: space-between;
}

#appframe p {
    font-size: 12px;
    margin: 0;
    color: var(--identifier);
    font-family: system-ui;
}

#appframe div {
    display: flex;
    align-items: center;
}

#appframe #name {
    position: relative;
    left: 3px;
    gap: 4px;
}

#appframe #buttons div {
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    -webkit-app-region: none;
    cursor: pointer;
    fill: currentColor;
    padding: 0px 3px;
}

#appframe div div:hover {
    background-color: var(--bg-color-25);
    fill: var(--white);
}

#appframe div div#close:hover {
    background-color: var(--app-close-bg);
}



#app {
    display: flex;
    flex-direction: row;
    height: 0;
    flex: 1;
}