@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27);

/*? document.documentElement.style.setProperty("--main-color", "#ffffff") */

* {
    color: var(--primary-text);
    font-family: 'Roboto', sans-serif, system-ui;
}

body {
    background: var(--bg-color-0);
    background-size: cover;
    position: fixed;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

#root * {
    white-space: pre-wrap;
}

/*! login */

#loginpage {
    background: var(--bg-color-0);
    width: 100%;
    height: 100%;
}

#loginpage #login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 0.5rem;
    background-color: var(--login-bg);
    width: 414px;
    height: 224px;
}

#loginpage form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginpage label {
    margin-bottom: 1rem;
    font-size: 20px;
}

#loginpage input {
    padding: 0.5rem;
    border-radius: .3em;
    border-width: 0;
    background-color: var(--bg-color-3);
    transition: background-color 125ms ease-in-out;
    width: 380px;
}

#loginpage button {
    margin-top: 2rem;
    padding: 0.5rem;
    width: 400px;
    background-color: var(--bg-color-3);
    border-radius: 0.3em;
    border-width: 0;
}

/*! general features */

.hover:hover {
    background-color: var(--bg-color-1);
    border-radius: 5px;
}

img {
    -webkit-user-drag: none;
}

#pfp {
    border-radius: 50%;
}

#botbadge {
    font-size: 10px;
    display: inline-block;
    margin: 0%;
    position: relative;
    padding: 1px 4px;
    background: var(--bg-color-5);
    border-radius: 3px;
}

#botbadge svg {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 15px;
    width: 15px;
}

#botbadge p {
    margin: 0px;
    color: var(--white);
    text-transform: uppercase;
}

#botbadge p.verified {
    padding-left: 12px;
}

/*! message box */

#messageboxdiv {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: var(--popup-bg);
    top: 0;
}

#messagebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background: var(--bg-color-0);
    width: 414px;
    height: 224px;
}

#messagebox #move {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 2;
}

#messagebox #title {
    position: absolute;
    top: 0;
    width: inherit;
    font-size: 17.4px;
    text-align: center;
    color: var(--identifier);
}

#messagebox #description {
    position: absolute;
    top: 40px;
    width: inherit;
}

#messagebox button {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%);
    width: 350px;
    height: 35px;
    background: var(--bg-color-7);
    padding: 0;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

#messagebox #confirm, #messagebox #cancel {
    width: 200px;
}

#messagebox #confirm {
    left: 27%;
    background: var(--success-bg);
}

#messagebox #cancel {
    left: 73%;
    background: var(--danger-bg);
}

/*! sidebar 1 - contains guild list */

#sidebar {
    padding: 11px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#guildList {
    flex-direction: column;
    display: flex;
}

#guildList #pfp {
    transition: border-radius .4s;
    -webkit-transition: border-radius .4s;
    cursor: pointer;
}

#guildList #pfp:hover {
    transition: border-radius .4s;
    -webkit-transition: border-radius .4s;
    border-radius: 30%;
}

#guildSeparator {
    width: 32px;
    border-radius: 1px;
    background-color: var(--bg-color-14);
    flex: 0 0 2px;
}

/*! sidebar 2 - contains channels and user */

#sidebar2 {
    padding: 0px 8px;
    border: 2px solid var(--bg-color-1);
    width: 178px;
    display: flex;
    flex-direction: column;
}

#sidebar2 #guildname {
    color: var(--identifier);
    margin: 16px 8px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    flex: 0 0 19px;
}

#sidebar2 #channels {
    overflow: auto;
    flex: 1;
}

#sidebar2 #channels::-webkit-scrollbar {
    display: none;
}

#sidebar2 #channel {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    cursor: pointer;
}

#sidebar2 .active #channel {
    background: var(--bg-color-11);
    border-radius: 5px;
}

#sidebar2 .active #channel #channelname {
    color: var(--identifier);
}

#sidebar2 #icon.category {
    position: relative;
    bottom: 1px;
}
#sidebar2 #category {
    padding-bottom: 9px;
}

#sidebar2 #category #categoryname {
    font-size: 12px;
}

#sidebar2 #category #channel {
    padding-left: 3px;
}

#sidebar2 #channels p {
    font-size: 15px;
    display: inline-block;
    margin: 0%;
    position: relative;
    bottom: 1px;
    left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 86%;
}

#sidebar2 #channels #dmtitle {
    font-size: 11px;
    font-weight: 500;
    padding-top: 10px;
}

#sidebar2 #channels #dm {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
    padding: 5px;
}

#sidebar2 .active #dm {
    background: var(--bg-color-11);
    border-radius: 5px;
}

#sidebar2 .active #dm #name {
    color: var(--identifier);
}

#sidebar2 #channels a:hover {
    text-decoration-line: none;
}

#sidebar2 #user {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 40px;
}

#sidebar2 #user #profile {
    cursor: pointer;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 5px;
    padding: 0px 0px 0px 4px;
}

#sidebar2 #user #profile #username {
    font-size: 15px;
    margin: 0%;
}

#sidebar2 #user #settingsbutton {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*! chat */

#chat {
    flex: 1;
    width: 0;
    position: relative;
}

#chat #channelInfo {
    padding: 1rem;
    padding-bottom: 0%;
}

#chat #channelInfo p {
    display: inline-block;
    margin: 0%;
    position: relative;
    bottom: 5px;
    left: 3px;
}

#chat input {
    padding: 0.5rem;
    border-width: 0;
    font-size: 15px;
    border-radius: 8px;
    background-color: var(--bg-color-1);
    margin-left: 10px;
    width: calc(100% - 36px);
    height: 20px;
    outline: none;
}

#chat form {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#chat #messages {
    margin: 15px;
    margin-left: 13px;
    overflow: auto;
    height: calc(100% - 107px);
}

#chat #messages::-webkit-scrollbar {
    display: none;
}

#chat #messages #message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#chat #messages #message.hasothermessages {
    margin-bottom: 0;
}

#chat #messages #messagecontent {
    flex-direction: row;
    display: flex;
    padding: 2px
}

#chat #messages #message #extradata {
    position: relative;
    left: 23px;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

#chat #messages #message #extradata #line {
    width: 26px;
    height: 8px;
    margin: 5px 4px -4px -1px;
    border-top: 2px solid var(--bg-color-11);
    border-left: 2px solid var(--bg-color-11);
    border-top-left-radius: 7px;
}

#chat #messages #message #extradata p {
    font-size: 14px;
    margin-left: 3px;
    opacity: 0.9;
}

#chat #messages #message #extradata #referencecontent {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}

#chat #messages #message #extradata #referencecontent.italic {
    font-style: italic;
}

#chat #messages #message #extradata #referencecontent:hover {
    color: var(--white);
}

#chat #messages #message #extradata #command {
    margin-left: 3px;
    background: var(--mention-bg);
    border-radius: 3px;
    cursor: default;
    padding: 0px 3px;
    color: var(--interactive);
    opacity: 1;
}

#chat #messages #message #extradata #command:hover {
    background: var(--bg-color-5);
    color: var(--white);
}

#chat #messages #message #pfp {
    cursor: pointer;
}

#chat #messages #message p {
    display: inline-block;
    margin: 0%;
}

#chat #messages #message #content {
    margin-left: 10px;
    width: 100%;
}

#chat #messages #message.anothermessage #content {
    padding-left: 42px
}

#chat #messages #message #username {
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
}

#chat #messages #message #username:hover {
    text-decoration: underline;
}

#chat #messages #message #time {
    margin-left: 4px;
    font-size: 11px;
    color: var(--time-text);
}

#chat #messages #message #msg {
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
}

#chat #messages #message #msg * {
    margin: 0;
    max-width: 100%;
    word-break: break-word;
}

#chat #messages #message.deleted {
    border-radius: 5px;
}

#chat #messages #message.deleted #msg * {
    color: var(--danger);
}

a {
    color: var(--interactive);
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

#chat #messages #message #botbadge {
    bottom: 1px;
    left: 3px;
    margin-right: 2px;
}

#chat #messages #message #msg #msgcontent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat #messages #message #msg #msgcontent #edited {
    font-size: 10px;
    color: var(--secondary-text);
    position: relative;
    left: 3px;
}

mention {
    background: var(--mention-bg);
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 3px;
}

mention:hover {
    background: var(--bg-color-5);
    color: var(--white);
}

codeblock {
    background: var(--bg-color-12);
    display: block;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

inlinecode {
    background: var(--bg-color-12);
    padding: 3px 5px;
    border-radius: 4px;
}

twemoji {
    display: inline-block;
    width: 20px;
    height: 15px;
    position: relative;
}

twemoji img, .emoji {
    width: 20px;
    height: 20px;
}

timestamp {
    background: var(--timestamp-bg);
    border-radius: 3px;
    padding: 0px 3px;
}

#chat #messages #message #msg img, #chat #messages #message #msg video {
    max-width: 300px;
    display: block;
}

#chat #messages #message #msg #attachments {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0px
}

#chat #messages #message #msg #attachments #file {
    background: var(--bg-color-12);
    border: 1.5px solid var(--bg-color-14);
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
}

#chat #messages #message #msg #attachments #file #info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;
    left: 2px;
    flex: 1;
}

#chat #messages #message #msg #attachments #file #info #size {
    font-size: 11px;
    color: var(--secondary-text);
}

#chat #messages #message #msg #attachments #file #download {
    cursor: pointer;
}

#chat #messages #message #msg #embeds {
    position: relative;
    top: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#chat #messages #message #msg #embed {
    max-width: 450px;
    min-width: 200px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

#chat #messages #message #msg #embed #color {
    flex: 0 0 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#chat #messages #message #msg #embed #embedcontent {
    background: var(--bg-color-12);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat #messages #message #msg #embed #embedcontent p {
    font-size: 14px;
}

#chat #messages #message #msg #embed #embedcontentdata {
    display: flex;
    flex-direction: row;
}

#chat #messages #message #msg #embed #embedcontentdatacontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

#chat #messages #message #msg #embed inlinecode {
    background: var(--bg-color-7);
    padding: 0px 4px;
}

#chat #messages #message #msg #embed codeblock {
    background: var(--bg-color-7);
}

#chat #messages #message #msg #embed #title {
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
}

#chat #messages #message #msg #embed p#title {
    color: var(--white);
}

#chat #messages #message #msg #embed #author {
    display: flex;
    align-items: center;
}

#chat #messages #message #msg #embed #author #authoricon {
    width: 25px;
    border-radius: 50%;
    margin-right: 5px
}

#chat #messages #message #msg #embed #author #authorname {
    font-size: 14px;
    color: var(--white);
    position: relative;
    width: max-content;
}

#chat #messages #message #msg #embed #fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat #messages #message #msg #embed #fields #field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#chat #messages #message #msg #embed #fields #field #fieldname {
    color: var(--white);
    font-weight: 400;
}

#chat #messages #message #msg #embed #thumbnail {
    height: 50px;
    border-radius: 5px;
}

#chat #messages #message #msg #embed #image {
    max-width: 100%;
}

#chat #messages #message #msg #embed #footer {
    height: 20px;
    display: flex;
    align-items: center;
}

#chat #messages #message #msg #embed #footer #footericon {
    width: 25px;
    border-radius: 50%;
}

#chat #messages #message #msg #embed #footer #footertext {
    font-size: 11px;
    position: relative;
    margin-right: 5px
}

#chat #messages #message #msg #components {
    display: flex;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    flex-direction: column;
}

#chat #messages #message #msg #components #row {
    display: flex;
    gap: 5px;
}

#chat #messages #message #msg #components #row #button {
    background-color: var(--primary-button-bg);
    border-radius: 4px;
    cursor: not-allowed;
}

#chat #messages #message #msg #components #row #button.link,
#chat #messages #message #msg #components #row #button.secondary {
    background: var(--bg-color-16);
}

#chat #messages #message #msg #components #row #button.success {
    background: var(--success-bg);
}

#chat #messages #message #msg #components #row #button.danger {
    background: var(--danger-bg);
}

#chat #messages #message #msg #components #row #button p {
    padding: 6px 11px;
    font-size: 14px;
    color: var(--white);
}

#chat #messages #msg #components #row #selectmenu {
    background-color: var(--bg-color-14);
    border-radius: 5px;
    cursor: not-allowed;
    height: 35px;
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
}

#chat #messages #msg #components #row #selectmenu p {
    position: relative;
    left: 10px;
    color: var(--secondary-text);
}

#chat #messages #msg #reactions {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-top: 5px;
}

#chat #messages #msg #reactions #reaction {
    display: flex;
    align-items: center;
    border: var(--reaction-border) solid 1px;
    background-color: var(--reaction-background);
    padding: 2px 8px;
    border-radius: 8px;
    gap: 3px;
    cursor: not-allowed;
}

#chat #messages #msg #reactions #reaction p {
    font-size: 14px;
}

#chat #messages #msg #reactions #reaction #emoji {
    font-size: 14px;
}

#chat #messages #msg #poll {
    background-color: var(--bg-color-14);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 450px;
}

#chat #messages #msg #poll #question {
    font-size: 16px;
    color: var(--identifier);
}

#chat #messages #msg #poll #answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#chat #messages #msg #poll #answers #answer {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--bg-color-19);
    border-radius: 10px;
    padding: 10px;
    min-height: 30px;
}

#chat #messages #msg #poll #answers #answer #emoji {
    font-size: 22px;
}

#chat #messages #msg #poll #answers #answer #text {
    flex: 1;
}

#chat #messages #msg #poll #answers #answer #votecount {
    font-size: 11px;
    font-weight: 500;
    color: var(--identifier);
}

#chat #messages #msg #poll #answers #answer #percentage {
    font-weight: 600;
}

#chat #messages #msg #poll #totalvote {
    padding-top: 5px;
    font-size: 13px;
}

#chat #autocomplete {
    left: 10px;
    width: calc(100% - 20px);
    min-height: 45px;
    max-height: 500px;
    position: absolute;
    bottom: 50px;
    background: var(--bg-color-14);
    border-radius: 5px;
}

#chat #autocomplete #content {
    margin: 10px;
    max-height: inherit;
}

#chat #autocomplete #title {
    font-size: 11px;
    position: relative;
    margin: 0;
}

#chat #autocomplete #list {
    padding-top: 10px;
    position: relative;
    overflow: auto;
    max-height: calc(500px - 100px);
}

#chat #autocomplete #list::-webkit-scrollbar {
    display: none;
}

#chat #autocomplete #list #member {
    cursor: pointer;
    position: relative;
    height: 30px;
    padding: 5px;
}

#chat #autocomplete #list.channels #member {
    height: 25px;
}

#chat #autocomplete #list #member #pfp {
    position: relative;
    left: 3px;
    bottom: -3px;
    width: 24px;
    height: 24px;
}

#chat #autocomplete #list.channels #member #pfp {
    width: 20px;
    height: 20px;
}

#chat #autocomplete #list #member #userstatus {
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    left: 26px;
}

#chat #autocomplete #list #member #displayname {
    font-size: 15px;
    display: inline-block;
    margin: 0%;
    position: relative;
    bottom: 3px;
    left: 10px;
    color: var(--identifier)
}

#chat #autocomplete #list #member #username {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    bottom: 30px;
}

#chat #reply {
    left: 10px;
    width: calc(100% - 20px);
    height: 34px;
    position: absolute;
    bottom: 46px;
    background: var(--bg-color-19);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#chat #reply #textdiv {
    display: flex;
    gap: 3px;
    position: relative;
    flex: 1;
    margin-left: 10px;
}

#chat #reply #text {
    margin: 0;
    font-size: 13px;
}

#chat #reply #username {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

#chat #reply #close {
    height: 34px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#chat #reply #close svg {
    fill: var(--close-button-bg-1)
}

#chat #reply #close:hover svg {
    fill: var(--close-button-bg-2)
}


/*! member list */

#members {
    padding: 0 10px 0 15px;
    border: 2px solid var(--bg-color-1);
    overflow: auto;
    flex: 0 0 213px;
    display: flex;
    flex-direction: column;
}

#members::-webkit-scrollbar {
    display: none;
}

#members #role #name {
    font-size: 13px;
    margin-bottom: 5px;
}

#members #member {
    padding: 2.5px 3px;
    cursor: pointer;
    position: relative;
    left: -3px;
    height: 38px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#members #member.offline {
    opacity: 0.5;
}

#members #member #userstatus {
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    left: 26px;
}

#members #member #username {
    font-size: 15px;
    margin: 0;
    color: var(--white);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#members #member #ownercrown {
    margin: 0;
    font-size: 14px;
    flex: 0 0 15px;
}

/*! user modal */

#usermodal {
    position: absolute;
    background-color: var(--bg-color-14);
    width: 340px;
    height: 500px;
    border-radius: 10px;
    border: 3px solid var(--bg-color-7);
    left: 100px;
    top: 50px;
}

#usermodal #banner {
    position: relative;
    width: 340px;
    height: 120px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#usermodal #buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: row-reverse;
}

#usermodal #buttons div {
    width: 32px;
    height: 32px;
    background-color: var(--button-bg-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#usermodal #buttons div:hover {
    background-color: var(--button-bg-2);
}

#usermodal #pfp {
    position: absolute;
    top: 70px;
    left: 15px;
    border: 6px solid var(--bg-color-14);
}

#usermodal #userstatus {
    position: relative;
    left: 84px;
    top: 13px;
}

#usermodal #badges {
    position: relative;
    background-color: var(--bg-color-7);
    width: fit-content;
    max-width: 190px;
    top: 12px;
    right: 16px;
    float: right;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2px;
}

#usermodal #badges #badge {
    cursor: pointer;
}

#usermodal #info {
    position: absolute;
    background-color: var(--bg-color-7);
    border-radius: 10px;
    border: 10px solid var(--bg-color-7);
    top: 160px;
    margin: 15px;
    width: 290px;
    height: 290px;
    overflow: auto;
}

#usermodal #info::-webkit-scrollbar {
    display: none;
}

#usermodal #info p {
    margin: 0;
}

#usermodal #info #displayname {
    font-size: 17px;
    color: var(--identifier);
}

#usermodal #info #username {
    font-size: 13px;
    color: var(--identifier);
    margin-top: 2px;
    display: inline-block;
}

#usermodal #info #seperator {
    height: 1px;
    width: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
    background-color: var(--bg-color-24);
}

#usermodal #info #botbadge {
    left: 3px;
    bottom: 1px;
}

#usermodal #info #title {
    font-size: 11px;
    color: var(--identifier);
    margin: 0;
    margin-bottom: 2px;
}

#usermodal #info #content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#usermodal #aboutme p {
    font-size: 13px;
    color: var(--aboutme-text);
}

#usermodal #membersince svg {
    width: 18px;
    height: 18px;
}

#usermodal #membersince p {
    display: inline-block;
    font-size: 13px;
    position: relative;
    bottom: 4px;
    left: 4px;
}

#usermodal #membersince div {
    display: inline-block;
}

#usermodal #membersince #seperator {
    width: 5px;
    height: 5px;
    position: relative;
    margin: 0;
    bottom: 6px;
    left: 12px;
    border-radius: 50%;
    background-color: var(--bg-color-11);
}

#usermodal #membersince #server {
    position: relative;
    left: 22px;
}

#usermodal #membersince #server img {
    border-radius: 50%;
}

#usermodal #roles #list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#usermodal #roles #list #role {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 5px;
    border: var(--bg-color-25) solid 1px;
    border-radius: 3px;
    gap: 4px;
}

#usermodal #roles #list #role #color {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

#usermodal #roles #list #role p {
    font-size: 13px;
}

/*! hover text */

#hovertext {
    position: absolute;
    padding: 8px;
    background: var(--black);
    border-radius: 5px;
    max-width: 180px;
    word-wrap: normal;
    z-index: 5;
    transform: translate(-50%, -100%);
}

#hovertext p {
    margin: 0;
    font-size: 14px;
}

/*! contextmenu */

#contextmenu {
    top: 50px;
    left: 50px;
    position: absolute;
    min-width: 170px;
    background: var(--bg-color-7);
    border-radius: 5px;
    z-index: 3;
}

#contextmenu #items {
    display: flex;
    flex-direction: column;
    margin: 7px;
}

#contextmenu #items #button {
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

#contextmenu #items #button:hover {
    background: var(--bg-color-0);
}

#contextmenu #items #button p {
    margin: 0;
    font-size: 14px;
    user-select: none;
}

#contextmenu #items #button.normal p {
    color: var(--secondary-text);
}

#contextmenu #items #button.danger p {
    color: var(--danger);
}

#contextmenu #items #seperator {
    height: 1px;
    background-color: var(--bg-color-0);
    margin: 2px 4px;
}